.verde{color:green;font-size:120px;}
.azul{color:blue;font-size:70px;}
.prata{color:silver; background-color: navy; font-size:40px;}
.cinza{font-size:16px;background-color: gray; color:white;}

	
	
